body {
    color: #222;
    font-family: sans-serif;
    text-align: center;
}
                                            /*
.caja {
    width: 300px;
    height: 300px;
    display: flex;
    background: #48e;
    font-size: 40px;
    color: #fff;
}

.caja span, .responsive-caja span {
    margin: auto;
}

.responsive-caja {
    width: 100%;
    height: 300px;
    display: flex;
    background: #333;
    font-size: 40px;
    color: #fff;
}
                                            */


                                     /*                                 
.caja {
    height: 300px;
    width: 300px;
    display: flex;
    background: #48e;
    color: #fff;
    margin: 20px auto;
    font-size: 26px;
    border: 4px dashed #248;
}

.caja span {
    margin: auto;
}

.caja:nth-child(2) {
    background: #e48;
    border: 4px dashed #824;
}

.caja:nth-child(3) {
    background: #4e8;
    border: 4px dashed #284;
}

.caja:nth-child(4) {
    background: #777;
    border: 4px dashed #444;
}
                                       */ 



body, h3, div, p, input {
    margin: 0;
    padding: 0;
}

.publicacion {
    text-align: left;
    margin: 20px;
    color: #555;
}

.publicacion p {
    padding: 10px 20px;
    border-left: 2px solid #48e;
}

.publicacion h3 {
    color: #48e;
    border-bottom: 2px solid #48e;
    display: inline-block;
}

.comentarios {
    display: flex;
}

.comentarios input {
    padding: 8px 12px;
    border: none;
    background: #48e;
    color: #fff;
}

.comentarios .comentario {
    flex-grow: 1;
    font-weight: 100;
}

.comentarios .enviar {
    min-width: 60px;
    font-weight: 700;
    font-family: monospace;
}

.comentario::placeholder {
    color: #bcf;
    text-shadow: none;
}